div {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    padding-top: 40px;
    position: relative;
}

/*button {*/
    /*position: absolute;*/
    /*right: 10px;*/
    /*top: 10px;*/
/*}*/
#bullet_chart{
    width: 558px;
    height: 206px;
    margin-left: 40%;
    margin-right: 5%;
    display: block;
    position: relative;
    /*margin-top: 10%;*/
}
/*#line_chart{*/
    /*width: 479px;*/
    /*height: 292px;*/
    /*margin-top: 40px;*/
    /*margin-right: 20px;*/
    /*margin-left: 500px;*/
/*}*/

.bullet { font: 10px sans-serif; }
.bullet .marker { stroke: #000; stroke-width: 2px; }
.bullet .tick line { stroke: #666; stroke-width: .5px; }
.bullet .range.s0 { fill: #eee; }
.bullet .range.s1 { fill: #ddd; }
.bullet .range.s2 { fill: #ccc; }
.bullet .measure.s0 { fill: lightsteelblue; }
.bullet .measure.s1 { fill: steelblue; }
.bullet .title { font-size: 14px; font-weight: bold; }
.bullet .subtitle { fill: #999; }

