body{
    background-color: #233142;
}
#form {
    width: 25%;
    float: left;
    margin-top: 15px;
}
.form-group {
    margin-bottom: 9px;
}
label{
    color: #f8fff7;
}

#center {
    width: 42%;
    height: 830px;
    float: left;
    margin-top: 25px;
}

#right {
    width: 30%;
    height: 830px;
    float: left;
    margin-top: 25px;
}

form {
    width: 90%;
    margin: 0 auto;
}

#fillgauge1, #fillgauge2 {
    width: 100%;
}

#ball {
    height: 420px;
}

#score, #box_office {
    height: 190px;
    width: 100%;
    margin-top: 10px;
}

.ball {
    float: right;
    width: 45%;
    height: 190px;
}

#btext, #stext {
    float: left;
    width: 50%;
}

.result {
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    font-family: 微软雅黑;
}

#cloud, #line, #gauge, #gauge1, #gauge2 {
    height: 280px;
}

#gauge1 {
    width: 50%;
    float: left;
}

#gauge2 {
    width: 50%;
    float: right;
}

#bullet {
    height: 420px;
    margin-top: 10px;
}

.unselectable {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* css formats for the gauge */
.gauge .domain {
    stroke-width: 2px;
    stroke: #ffffff;
}

.gauge .tick line {
    stroke: #ffffff;
    stroke-width: 2px;
}

.gauge line {
    stroke: #ffffff;
}

.gauge .arc, .gauge .cursor {
    opacity: 0;
}

.gauge .major {
    fill: #ffffff;
    font-size: 20px;
    font-family: 'Play', verdana, sans-serif;
    font-weight: normal;
}

.gauge .indicator {
    stroke: #f95959;
    fill: #ffffff;
    stroke-width: 4px;
}

/* css formats for the segment display */
.segdisplay .on {
    fill: #f98e86;

}

.segdisplay .off {
    fill: #f98e86;
    opacity: 0.15;
}

.xaxis path,
.xaxis line,.yaxis path,
.yaxis line{
    fill: none;
    stroke: #ffffff;
    shape-rendering: crispEdges;
}

.xaxis text,.yaxis text{
    fill: #ffffff;
}

text{
    font-family: 'Play', verdana, sans-serif;
}
strong{
    color: #ffffff;
}
.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 12px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 5px;
}
#line,#gauge{
    margin-top: 15px;
}