#form{
    width: 25%;
    float: left;
}
#center{
    width: 42%;
    height: 850px;
    float: left;
}
#right{
    width: 30%;
    height: 850px;
    float: left;
}
form{
    width: 90%;
    margin: 0 auto;
}
#fillgauge1,#fillgauge2{
    width: 100%;
}
#ball{
    height: 420px;
}
#score,#box_office{
    height: 190px;
    width: 100%;
    margin-top: 10px;
}
.ball{
    float: right;
    width: 45%;
    height: 190px;
}
#btext,#stext{
    float: left;
    width: 50%;
}
.result {
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    font-family: 微软雅黑;
}
#cloud,#heatmap,#gauge,#gauge1,#gauge2{
    height: 280px;
}
#gauge1{
    width: 50%;
    float: left;
}
#gauge2{
    width: 50%;
    float: right;
}
#bullet{
    height: 420px;
}